<!-- <p>
  header works!
</p> -->
<div  id="headerrrow" class="row custom-modal-header">
    <div id="header" class="col-sm-12">
          <!-- <h2 id="headertext">Copyright@Tscode pvt.ltd.</h2>   -->
      <label id="usrnm" >Username:</label>    
      <label id="usrname" >{{details.username}}</label>
      <label id="date" >Date:</label>
      <button id="signoutbtn" class="btn btn-lg fa fa-sign-out" (click)="signout()">  Signout</button>  
       <!-- <span id="displaydate">{{today | date:'fullDate'}}</span>  -->
     </div>
</div>