/* h2#headertext{
    font-size: 17px;
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
} */
div#headerrow{
    /* width: 1350px; */
}
div#header{
    text-align: center;
     /* background-color: #337ab7;   */
    /* margin-left: 1px;
    top: 2px;
    background-color: #eee; 
    width: 1330px;   */
     background-color: #eee; 
     top : 5px;
     width :1379px;
      position: absolute;
}
button#signoutbtn{
    margin-left: 1260px; 
    position: relative;
}
label#usrnm{
    margin-top: 10px;
     position: absolute; 
    margin-left: 5px;
     font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
}
label#date{
     margin-top: 10px;
     position: absolute; 
    margin-left: 1100px;
     font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
}
label#usrname{
    position: absolute;
    margin-left: 90px;
    margin-top: 10px;
     font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
}
span#displaydate{
      margin-top: 10px;
     position: absolute; 
    margin-left: 1180px;
     font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
}