  <div id=welcomeimg>
    <img src="http://scc.etllao.com/photoslice/finan.png" alt="img cannot be displayed" width="1365px" height="660px">  
    <!-- <div *ngIf="signinflag">
       <div class="modal-dialog model-md" >
          <div class="modal-body">
            <app-login></app-login>
          </div>
        </div>
       </div>
      <div id=signinbtn> 
        <button class="btn btn-primary btn-lg" (click)="opensignin()">Sign In</button>
     </div> -->
      <div id="loginformdiv" class="container-fluid custom-modal-container">
            <div  class="row custom-modal-header">
                <div id="loginheader" class="col-sm-12">
                    <h2>Registered Users please login here</h2>
                </div>
            </div>
            <div  class="row" [ngClass]="{'myclass' : shouldUseMyClass}">
                <div id="loginformbelowheader" class="col-xs-12">
                    <div class="jumbotron">
                         <h2>Login</h2><br>
                            <form #logInForm="ngForm" name="form" (ngSubmit)="login()">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text"  class="form-control" name="username"  ngModel #username="ngModel" required autofocus/>
                                </div><br>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" name="password" ngModel #password="ngModel" required />
                                </div><br>
                                <span  class="form-group" >
                                    <button id="loginbtn" class="btn btn-primary" >Login</button>
                                    <button id="registerbtn" class="btn btn-primary" (click)="openRegisterForm()">Register New User</button>
                                    <br><br><br>
                                </span>
                            </form>   
                              
                    </div>
                </div>
            </div>
        </div>
</div>


