div#loginheader{
    background-color: #337ab7;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
     border-radius: 5px;
}
button#loginbtn{
    position: absolute; 
    left: 75px;
}
button#registerbtn{
    position: absolute;
    right: 100px;
}

.font{
    color: red;
}
